<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="<{$Think.const.LIB_URL}>html5.js"></script>
<script type="text/javascript" src="<{$Think.const.LIB_URL}>respond.min.js"></script>
<script type="text/javascript" src="<{$Think.const.LIB_URL}>PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="<{$Think.const.STATIC_URL}>h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="<{$Think.const.STATIC_URL}>h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="<{$Think.const.LIB_URL}>Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="<{$Think.const.LIB_URL}>icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="<{$Think.const.STATIC_URL}>h-ui.admin/skin/default/skin.css" id="skin" />
<link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<{$Think.const.STATIC_URL}>bootFileInput/css/default.css">
<link href="<{$Think.const.STATIC_URL}>bootFileInput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="<{$Think.const.STATIC_URL}>h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="<{$Think.const.STATIC_URL}>SimpleSlide/css/simple.slide.css" />
<!-- <link rel="stylesheet" type="text/css" href="<{$Think.const.STATIC_URL}>viewpage/css/default.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="<{$Think.const.STATIC_URL}>viewpage/css/imageviewer.css"> -->
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<link href="<{$Think.const.LIB_URL}>webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page-container">
	<h3 style="text-align:center;">修改商品</h3>
	<form action="<{:U('goods_save')}>" method="post" class="form form-horizontal" id="form-article-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品名字	：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<{$good.goodsname}>" placeholder="" id="" name="goodsname">
				<input type="hidden" name="id" value="<{$good.id}>">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
			<div class="formControls col-xs-8 col-sm-9"> 			
				<span class="select-box">
			      <select class="select" size="1" name="tid" id="select">
			        <option value="0">顶级分类</option>
			        <foreach name="data" item="vo">
			        	<option value="<{$vo.id}>,<{$vo.pid}>" <if condition="$vo['id'] eq $good['tid']">selected</if>><{$vo.level}>级分类<{$vo.name}></option>
			        </foreach>
			      </select>
			    </span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品单位：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<{$good.unit}>" placeholder="如：件、个" id="" name="unit" >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品属性：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					<input type="radio" name="abRadio" value="1" id="radio-1" <if condition="$good['attributes'] eq 1">checked</if>>
					<label for="radio-1">1、推荐</label>
				</div>
				<div class="check-box">
					<input type="radio" name="abRadio" value="2" id="radio-2" <if condition="$good['attributes'] eq 2">checked</if>>
					<label for="radio-2">2、新上</label>
				</div>
				<div class="check-box">
					<input type="radio" name="abRadio" value="3" id="radio-3" <if condition="$good['attributes'] eq 3">checked</if>>
					<label for="radio-3">3、热卖</label>
				</div>
				<div class="check-box">
					<input type="radio" name="abRadio" value="4" id="radio-4" <if condition="$good['attributes'] eq 4">checked</if>>
					<label for="radio-4">4、促销</label>
				</div>
				<div class="check-box">
					<input type="radio" name="abRadio" value="5" id="radio-5" <if condition="$good['attributes'] eq 5">checked</if>>
					<label for="radio-5">5、包邮</label>
				</div>
				<div class="check-box">
					<input type="radio" name="abRadio" value="6" id="radio-6" <if condition="$good['attributes'] eq 6">checked</if>>
					<label for="radio-6">6、限时卖</label>
				</div>
				<div class="check-box">
					<input type="radio" name="abRadio" value="7" id="radio-7" <if condition="$good['attributes'] eq 7">checked</if>>
					<label for="radio-7">7、不参与会员折扣</label>
				</div>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品编号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="number" id="number" placeholder="输入商品编号" value="<{$good.number}>" class="input-text" style=" width:50%">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">条形码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="barcode" id="barcode" placeholder="输入条形码" value="<{$good.barcode}>" class="input-text" style=" width:50%">
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">现价：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="curprice" id="curprice" placeholder="" value="<{$good.curprice}>" class="input-text" style="width:90%">
				元</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">市场价：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="oriprice" id="oriprice" placeholder="" value="<{$good.oriprice}>" class="input-text" style="width:90%">
				元</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">成本价：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="cosprice" id="cosprice" placeholder="" value="<{$good.cosprice}>" class="input-text" style="width:90%">
				元</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">运费：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="freight" id="freight" placeholder="" value="<{$good.freight}>" class="input-text" style="width:90%">
				元</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">库存量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="inventory" id="inventory" placeholder="" value="<{$good.inventory}>" class="input-text">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">限制购买量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="restrict" id="restrict" placeholder="" value="<{$good.restrict}>" class="input-text">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">已经购买量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="already" id="already" placeholder="" value="<{$good.already}>" class="input-text">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">是否上架：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					<input type="radio" name="status" value="0" id="status-1" <if condition="$good['status'] eq 0">checked</if>>
					<label for="status-1">1、上架</label>
				</div>
				<div class="check-box">
					<input type="radio" name="status" value="1" id="status-2" <if condition="$good['status'] eq 1">checked</if>>
					<label for="status-2">2、下架</label>
				</div>
			</div>
		</div>
		<div class="row cl" id="nimabi">
			<label class="form-label col-xs-4 col-sm-2">上传图片：</label>
			<div class="formControls col-xs-8 col-sm-9" >
				<button id="btnShow" type="button" class="btn btn-success" onclick="uploadfileshow();return false;">上传轮播图片</button>
                <br><br>
                <label style="color: red;">最多支持<b style="color: #000;">5</b>张轮播图，而且第一张默认为商品封面(允许拖拽)！双击查看图片！</label>
                <button id="sd">sd</button>                
                <button id="sk">sk</button>                
			</div>
        </div>
        <div class="row cl">
        	<input type="hidden" name="imagepath" id="imgsval" value="">
        	<div class="col-xs-2 col-sm-2"></div>
        	<ul id="ul1">
        	<!-- <a href="javascript:;" i="img/5d.jpg" class="Slide Two"><img src="img/5.jpg" alt=""></a> -->
        	<if condition="$good['coverimg'] neq null">
				<li><div class="input-group" id="imageDelete<{$good.coverimg}>" style="margin-top:.5em;margin-right:2em; ">
				<input type="hidden" class="imagepath" value="<{$good.coverimg}>"/>
				<a href="javascript:;" i="<{$Think.const.FILEIMG_URL}><{$good.filepath}>" id="aid<{$good.coverimg}>" class="Slide Two"><img src="<{$Think.const.FILEIMG_URL}><{$good.filepath}>" class="img-thumbnail" width="150"></a>
				<a class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="deleteImage('<{$good.coverimg}>')">×</a>
				</div></li>
        	</if>
        	<!-- img-responsive -->
        	<foreach name="res" item="vo">
        		<li><div class="input-group" id="imageDelete<{$vo.id}>" style="margin-top:.5em;margin-right:2em; ">
				<input type="hidden" class="imagepath" value="<{$vo.id}>"/>
				<a href="javascript:;" i="<{$Think.const.FILEIMG_URL}><{$vo.filepath}>" id="aid<{$vo.id}>" class="Slide Two"><img src="<{$Think.const.FILEIMG_URL}><{$vo.filepath}>" class="img-thumbnail" width="150"></a>
				<a class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="deleteImage('<{$vo.id}>')">×</a>
				</div></li>
        	</foreach>
        	</ul>
        </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品排序：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="reorder" id="reorder" placeholder="" value="<{$good.reorder}>" class="input-text" style=" width:50%">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="textDes" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)"><{$good.text}></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">详细内容：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<script id="editor" type="text/plain" style="width:100%;height:400px;"></script> 
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>保存修改</button>
				<!-- <input class="btn btn-primary radius" type="submit" value="保存并提交审核"> -->
				<!-- <button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button> -->
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" src="<{$Think.const.LIB_URL}>jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="<{$Think.const.LIB_URL}>layer/2.1/layer.js"></script> 
<script type="text/javascript" src="<{$Think.const.LIB_URL}>icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="<{$Think.const.STATIC_URL}>h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="<{$Think.const.STATIC_URL}>h-ui.admin/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="<{$Think.const.LIB_URL}>webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" src="<{$Think.const.LIB_URL}>ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="<{$Think.const.LIB_URL}>ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="<{$Think.const.LIB_URL}>ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="<{$Think.const.STATIC_URL}>bootFileInput/js/fileinput.js" type="text/javascript"></script>
<script src="<{$Think.const.STATIC_URL}>bootFileInput/js/locales/zh.js" type="text/javascript"></script>
<script src="<{$Think.const.STATIC_URL}>SimpleSlide/js/simple.slide.js" type="text/javascript"></script>
<script type="text/javascript" src="<{$Think.const.STATIC_URL}>Dragmove/move.js"></script>
<!-- <script type="text/javascript" src="<{$Think.const.STATIC_URL}>viewpage/js/imageviewer.min.js"></script> -->
<script type="text/javascript">
var sb,imgsval,closekg=1;//sb=>图片id顺序数组，imgsval=>隐藏提交sb的节点，closekg=>删图片开关
var ids=500;//测试，可删
var maxfi=5;  //最多轮播图数量
$(document).ready(function() {
		var ue = UE.getEditor('editor');

		$("option").click(function(){  
	        $("#select").attr("size","1");
	        $("#select").blur();//触发失去焦点事件
	    });  
	    $("#select").focus(function(){  
	        $("#select").attr("size","8");
	    });
	    $("#select").blur(function(){  
	        $("#select").attr("size","1");
	    });
        imgsval=$('#imgsval');
	    btnDisabled();//是否需要禁止按钮
	    sb=imgsInit();
  		console.log(sb);
  		$('#sk').click(function(event) {
  			return false;
  		});
	    $('#sd').click(function(event) {
	    	// console.log(window.name);
	    	//var index = parent.layer.getFrameIndex(window.name);//先得到当前iframe层的索引
	    	//parent.layer.close(index);//再执行关闭

	    	var imgpathLen=$('input[class=imagepath]').length;
	    	var beishu,linebei,path;
    		switch(imgpathLen) {
    			case 0:
    				beishu=0;linebei=0;path='2017-02-01/5891fdcf818a6.png';
    				break;
    			case 1:
    				beishu=1;linebei=0;path='2017-02-03/589482bd1c120.gif';
    				break;
    			case 2:
    				beishu=2;linebei=0;path='2017-02-03/58944ad38f034.jpg';
    				break;
    			case 3:
    				beishu=3;linebei=0;path='2017-02-03/589482bd7c05f.jpg';
    				break;
    			case 4:
    				beishu=0;linebei=250;path='2017-02-01/5891fdcf818a6.png';
    				break;
    		}
    		ids++;
	    	var div='<li style="left: '+(beishu*184)+'px; top: '+linebei+'px; position: absolute;"><div class="input-group" id="imageDelete'+ids+'" style="margin-top:.5em;margin-right:2em;"><input type="hidden" class="imagepath" value="'+ids+'"/><a href="javascript:;" i="<{$Think.const.FILEIMG_URL}>'+path+'" id="aid'+ids+'" class="Slide Two"><img src="<{$Think.const.FILEIMG_URL}>'+path+'" class="img-thumbnail" width="150"></a><a class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="deleteImage('+ids+')">×</a></div></li>';
	    	$("#ul1").append(div);
	    	dragimg();
	    	btnDisabled();
	    	addsb(ids);
	    	imgsval.val(sb);
	    	// console.log(imgsval.val());
	    	bindSlide();
	    	return false;
	    });
	    dragimg();//绑定拖拽功能
		
		$('.Two').simpleSlide({
        	"loadingImage":"<{$Think.const.STATIC_URL}>SimpleSlide/img/1.gif",      //加载图片
    	});
    });
	function bindSlide(){
		// $('#'+id).children().eq(1).simpleSlide({
  		//   });
  		$('.Two').off('dblclick');
  		$('.Two').simpleSlide({
	        "loadingImage":"<{$Think.const.STATIC_URL}>SimpleSlide/img/1.gif",      //加载图片
	        'fooo':imgsval.val(),
    	});
    	// $('.Look_Show').ImageViewer();
    	// $('.pannable-image').ImageViewer();
	}
    function addsb(id){
    	sb[sb.length]=id+"";
    }
    function imgsInit(){
        var imagepath=$('input[class=imagepath]');
        var arr=[];
  		for (var i = 0; i < imagepath.length; i++) {
  			arr.push(imagepath.eq(i).val());
  		}
  		imgsval.val(arr);//初始化数据
  		return arr;
    }
    function btnDisabled(){
        var imagepath=$('input[class=imagepath]');
  		if(imagepath.length>=maxfi){
  			$('#btnShow').attr("disabled","disabled");//禁用上传按钮
  		}
  		if(imagepath.length>=maxfi){
  			$('#ul1').css("height","530px");//控制图片区域高度
  		}else{
  			$('#ul1').css("height","250px");
  		}
    }
	function uploadfileshow(){
		var lay1 = layer.open({
			title:'上传轮播图片',
			type: 1,
			// skin: 'layui-layer-rim', //加上边框
			area: ['100%', '100%'], //宽高  // area: ['920px', '540px'], //宽高
			content: '<form enctype="multipart/form-data"><input id="file-0" name="file-zh[]" type="file" multiple class="file-loading"></form><br>'
		});
        //图片上传地址
		initFileInput("file-0","<{:U('upload')}>");
        /*$('#layui-layer1').on("click",'button[title="全屏"]',function(){
        	// $('#kvFileinputModal').removeClass().addClass('file-zoom-dialog modal fade in file-zoom-fullscreen');
        	// console.log('全屏');
        	return false;
        });*/
        //监听 上传后服务器返回的事件
        $("#file-0").on("fileuploaded",function(event,data,previewId,index){
            if(data.response['id']!=''){
        		layer.close(lay1);
            }
            var imgpathLen=$('input[class=imagepath]').length;
	    	var beishu,linebei,path;
    		switch(imgpathLen) {
    			case 0:
    				beishu=0;linebei=0;
    				break;
    			case 1:
    				beishu=1;linebei=0;
    				break;
    			case 2:
    				beishu=2;linebei=0;
    				break;
    			case 3:
    				beishu=3;linebei=0;
    				break;
    			case 4:
    				beishu=0;linebei=250;
    				break;
    		}
            var div='<li style="left: '+(beishu*184)+'px; top: '+linebei+'px; position: absolute;"><div class="input-group" id="imageDelete'+data.response['id']+'" style="margin-top:.5em;margin-right:2em;"><input type="hidden" class="imagepath" value="'+data.response['id']+'"/><a href="javascript:;" i="'+data.response['imagepath']+'" id="aid'+data.response['id']+'" class="Slide Two"><img src="'+data.response['imagepath']+'" class="img-thumbnail" width="150"></a><a class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="deleteImage('+data.response['id']+')">×</a></div></li>';
            $('#ul1').append(div);
	    	addsb(data.response['id']);
            dragimg();
            btnDisabled();
            imgsval.val(sb);
            bindSlide();
	    	console.log(imgsval.val());
        });
	}
	//删除数组指定值的元素
	function rmArrVal(arr, val) {
		for(var i=0; i<arr.length; i++) {
			if(arr[i] == val) {
				arr.splice(i, 1);
				break;
			}
		}
	}
    function delsb(id){
    	// var obj=$('#imageDelete'+id).parent();
    	var rliX=$('#imageDelete'+id).parent().css('left');
    	var rliY=$('#imageDelete'+id).parent().css('top');
    	// console.log(rliX);
    	var imgpathLen=$('input[class=imagepath]').length;
	    var left,top,sel,cli,cliX,cliY;
	    for (var i = 0; i < imgpathLen; i++) {
	    	cli=$('#ul1 li').eq(i);
	    	// if (cliX=cli.css('left')>rliX&&cliY=cli.css('top')<'100') {
	    		cliX=cli.css('left');
	    		cliY=cli.css('top');
	    	if ((cliX>rliX&&cliY==rliY)||(cliY>='200')) {
	    		// console.log(cli.css('left'));
	    		if(cliX>='0'&&cliX<='170'&&cliY>='200') {
	    			left=552;top=0;
	    		}else if(cliX>='100'&&cliX<='200'){
	    			left=0;top=0;
	    		}else if (cliX>='201'&&cliX<='390') {
	    			left=184;top=0;
	    		}else if (cliX>='391'&&cliX<='560'){
	    			left=368;top=0;
	    		}
	    		// case 4:left=0;top=250;break;
	    		cli.css({
	    			left: left+'px',
	    			top: top+'px'
	    		});
	    	}
    		
	    }
    }
	//插件初始化配置
    function initFileInput(id,url){
        var control=$('#'+id);
        //避免在已有图片数量时，再上传却不计算已有数量的情况
        var len=$('input[class=imagepath]').length;
        // console.log(len);
        control.fileinput({
            language: 'zh',
            uploadUrl: url,
            allowedFileExtensions : ['jpg', 'png','gif','jpeg'],
            showUpload:true, //显示上传按钮
            showCaption:true,//显示标题
            showPreview:true,//显示文件预览图
            showRemove:true, //显示删除/清空按钮
            browseClass:"btn btn-primary",//按钮样式
            //previewFileIcon:"<i class='glyphicon glyphicon-king'></i>",//非图像文件时的图
            maxFileCount:maxfi-len,//最大文件个数
            dropZoneEnabled:true,//显示拖拽区域
            maxFileSize: 31245728,
            // overwriteInitial: false,//是否覆盖已存在的图片默认true

            initialPreviewConfig:{//ajax异步
                caption: id,
                width:'120px',
                url:url,
                key:101,
                success:function(){
                }
            }
        });   
    }
    function exchangeimgs(obj,oNear){
    	if(oNear){
	    	var div=$(obj).children();
	    	var id=div.children().eq(0).val();//input的值
	    	var div2=$(oNear).children();
	    	var id2=div2.children().eq(0).val();//目标input的值
	    	var ii,iii;
	    	for (var i = 0; i < sb.length; i++) {
	    		if(sb[i]==id){
	    			ii=i;
				}
				if(sb[i]==id2){
	    			sb[i]=id;
	    			iii=i;
				}
	    	}
	    	sb[ii]=id2;
	    	sb[iii]=id;
	    	// var ddp=sb.join(',');
	    	// ddp=ddp.split(',');
	    	imgsval.val(sb);
	    	console.log(imgsval.val());
	    	bindSlide();
    	}

    }
	function deleteImage(id){
		console.log('del:'+closekg);
	    if (closekg==0) {
	    	closekg=1;
	    	return false;
	    }
		layer.confirm('您确定要永久删掉此图片？', {
			btn: ['确定','取消'] //按钮
		}, function(index){
			layer.close(index);
			$.ajax({
				url:'<{:U("product_del_image")}>',
				type:'get',
				data:{id:id},
				dataType:'json',
				success:function(data){
					if(data==1){
						delsb(id);
						$('#imageDelete'+id).parent().remove();
						var imagepath=$('input[class=imagepath]');
				  		if(imagepath.length<maxfi){
				  			$('#btnShow').removeAttr("disabled");
				  		}
				  		rmArrVal(sb,id);
				  		imgsval.val(sb);
	    				console.log(imgsval.val());
				  		dragimg();
				  		btnDisabled();
				  		bindSlide();
					}else{
					   alert('删除失败');
					}
				}
			});
		}, function(index){
			layer.close(index);
		});
	}
	//以下内容必须在自己的js里手写，不能放到move.js里
	function dragimg() {
		var oUl= document.getElementById("ul1");//改
		var aLi = oUl.getElementsByTagName("li");//改
		var disX = 0;
		var disY = 0;
		var minZindex = 1;
		var aPos =[];
		var cx,cy,ux,uy;//my
		for(var i=0;i<aLi.length;i++){
			var t = aLi[i].offsetTop;
			var l = aLi[i].offsetLeft;
			aLi[i].style.top = t+"px";
			aLi[i].style.left = l+"px";
			aPos[i] = {left:l,top:t};
			aLi[i].index = i;
		}
		for(var i=0;i<aLi.length;i++){
			aLi[i].style.position = "absolute";
			aLi[i].style.margin = 0;
			setDrag(aLi[i]);
		}
		//拖拽	
		function setDrag(obj){
			obj.onmouseover = function(){
				obj.style.cursor = "move";
			}
			obj.onmousedown = function(event){
				if(event.button==0){//鼠标左键   my
					cx=event.clientX;
					cy=event.clientY;

					var scrollTop = document.documentElement.scrollTop||document.body.scrollTop;
					var scrollLeft = document.documentElement.scrollLeft||document.body.scrollLeft;
					obj.style.zIndex = minZindex++;
					//当鼠标按下时计算鼠标与拖拽对象的距离
					disX = event.clientX +scrollLeft-obj.offsetLeft;
					disY = event.clientY +scrollTop-obj.offsetTop;
					document.onmousemove=function(event){
						closekg=0;//闭合开关  my
						//当鼠标拖动时计算div的位置
						var l = event.clientX -disX +scrollLeft;
						var t = event.clientY -disY + scrollTop;
						obj.style.left = l + "px";
						obj.style.top = t + "px";
						/*for(var i=0;i<aLi.length;i++){
							aLi[i].className = "";
							if(obj==aLi[i])continue;//如果是自己则跳过自己不加红色虚线
							if(colTest(obj,aLi[i])){
								aLi[i].className = "active";
							}
						}*/
						for(var i=0;i<aLi.length;i++){
							aLi[i].getElementsByTagName('img')[0].className = "img-thumbnail";//my
							// aLi[i].className = "";
						}
						var oNear = findMin(obj);

						if(oNear){
							ux=event.clientX;//my
							uy=event.clientY;
							if (ux==cx&&uy==cy) {
								closekg=1;//若鼠标停留在原地，打开开关
								return false;
							}
							var imgbor=oNear.getElementsByTagName('img')[0];//  my
							imgbor.className = "active";//my
							// oNear.className = "active";
						}
					}
					document.onmouseup = function(event){
						ux=event.clientX;
						uy=event.clientY;
						if (ux==cx&&uy==cy) {//防止点击就交换  my
							document.onmousemove = null;
							document.onmouseup = null;
							return false;
						}
						document.onmousemove = null;//当鼠标弹起时移出移动事件
						document.onmouseup = null;//移出up事件，清空内存
						//检测是否普碰上，在交换位置
						var oNear = findMin(obj);
						if(oNear){
							exchangeimgs(obj,oNear);//my
							oNear.getElementsByTagName('img')[0].className = "img-thumbnail";//my
							// oNear.className = "";
							oNear.style.zIndex = minZindex++;
							obj.style.zIndex = minZindex++;
							startMove(oNear,aPos[obj.index]);
							startMove(obj,aPos[oNear.index]);
							//交换index
							oNear.index += obj.index;
							obj.index = oNear.index - obj.index;
							oNear.index = oNear.index - obj.index;
						}else{
							startMove(obj,aPos[obj.index]);
							exchangeimgs(obj,oNear);
						}
					}
					clearInterval(obj.timer);
					return false;//低版本出现禁止符号
				}
			}
		}
		//找到距离最近的
		function findMin(obj){
			var minDis = 999999999;
			var minIndex = -1;
			for(var i=0;i<aLi.length;i++){
				if(obj==aLi[i])continue;
				if(colTest(obj,aLi[i])){
					var dis = getDis(obj,aLi[i]);
					if(dis<minDis){
						minDis = dis;
						minIndex = i;
					}
				}
			}
			if(minIndex==-1){
				return null;
			}else{
				return aLi[minIndex];
			}
		}	
	}    
</script>
</body>
</html>